<p>connected works!</p>

<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            User Info
        </mat-panel-title>
        <mat-panel-description>
            User Id (fingerprint): {{(Config | async)?.UserFingerprint}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <h4>Public Key</h4>
    <p>{{(Config | async)?.UserPublicKey}}</p>
</mat-expansion-panel>
<div class="broadcast-container">
    <zh-peer-list></zh-peer-list>
    <zh-broadcast-list class="broadcast-list"></zh-broadcast-list>
</div>
<zh-peer-icon peerId="27a7b7f5-7d02-4bd8-ba9a-c91b12a597e4" style="margin: 5px;">

</zh-peer-icon>
<zh-peer-icon peerId="bb4847c9-bb92-47a7-b5b9-b9be44a87b13" style="margin: 5px;">

</zh-peer-icon>
<zh-peer-icon peerId="30c3deb4-0d09-45d5-b5bf-00d5c0a5e346" style="margin: 5px;">

</zh-peer-icon>
<zh-peer-icon peerId="KAZOOOOOO" style="margin: 5px;">

</zh-peer-icon>
<zh-peer-icon peerId="test1234" style="margin: 5px;">

</zh-peer-icon>
<zh-peer-icon peerId="rest0123" style="margin: 5px;">

</zh-peer-icon>